html {
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px */
 }

body, .form-control, .btn, .navbar-brand, .dropdown-item{
    font-size: 1.9rem;
    // color: #a284e0; /* Borrar al final*/
    // background-color: #170440; /* Borrar al final*/
}

.btn-menu{
    min-height: 5.2em;
}